@charset "UTF-8";
/*
 * ==========================================================================
 * = HTML Tags
 * ==========================================================================
*/
html {
  scroll-behavior: smooth;
  font-family: 'Trebuchet MS';
}

html, body {
    width: 100%;
    height: 100%;
}
section {
  height: 100vh;
  min-height: 500px;
}
/*
 * ==========================================================================
 * = Containers, Rows, Wells
 * ==========================================================================
*/
.container{
	max-width: 100% !important;
}

.well{
	padding: 2px;
	padding-left: 8px;
	margin:5px; 
	position:absolute; 
	top:0; left:0; right:0; bottom:0;
	background:rgba(255, 255, 255,0.9);
	color: rgba(36, 82, 153);
	font-weight: bold;
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.4); 
	display: flex;
	align-items: center;
}

.well:hover{
	color: rgba(255,255, 255);
	background:rgba(0, 51, 102,0.9);
	cursor: pointer;
}

.rowBar{
	min-height: 50px;
	padding: 0;
	text-align: center;
}
/*
.rowBar > div > .well{
	margin-right: 1px;
	margin-left: 1px;
}*/

.rowsHome{
	height: 400px;
}
/*
 * ==========================================================================
 * = Backgrounds
 * ==========================================================================
*/
.bodyBackgrounds{
  	height: 100vh;
  	min-height: 700px;
  	background-size: cover;
  	background-position: center;
  	background-repeat: no-repeat;
  	padding: 30px;
}
#home {
  background-image: url(../images/passagepieton.jpg);
}
#more {
    background-image: url(../images/background_sunset.jpg);
}
.imageBackgrounds{
	background-size: contain !important;
	background-repeat: no-repeat !important;
}
.bRunningPlayer{
	background-image: url(../images/runningplayer.png) !important;
	background-position-x: 100% !important;
}
.bBallInGoalLeft{
	background-image: url(../images/ballingoalleft.png) !important;
	background-position-x: 0 !important;
}

.bNeymar{
	background-image: url(../images/neymar.png) !important;
	background-position-x: 100% !important;
	background-position-y: 100% !important;
}
/*
 * ==========================================================================
 * = Others
 * ==========================================================================
*/
.content{
	height: 95%;	
}

.bottomButton{
	text-align:center;
	height:35px;
	bottom: 30px;
}

.btn{
	min-width: 80px;
}
/*
 * ==========================================================================
 * = Login
 * ==========================================================================
*/
#loginContent{
	min-height: 250px;
}
#loginZone{
	width:100%;
	height: 100%;
	min-height: 200px;
}
#loginZone > form > input, #loginZone > form > button{
	margin: 10px;
}
#loginZone > form > h3{
	margin-bottom: 1.3em;
}
#loginError{
	color: red;
}