@charset "UTF-8";
/*
 * ==========================================================================
 * = HTML Tags
 * ==========================================================================
*/
wrapper {
    margin-top: 80px;
    margin-bottom: 20px;
}

input[type="text"] {
    margin-bottom: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
body{
  	height: 100vh;
  	min-height: 700px;
  	background-size: cover;
  	background-position: center;
  	background-repeat: no-repeat;
  	/*padding: 30px;*/
  background-image: url(/images/passagepieton.jpg);
}
/*
 * ==========================================================================
 * = Backgrounds
 * ==========================================================================
*/

#about{
	background: rgba(255,255,255,0.95);
	color: black;
	font-weight: bold;
	padding: 30px;
}
.form-signin {
    max-width: 420px;
    padding: 30px 38px 25px;
    margin: 0 auto;
    background-color: #eee;
    border: 3px dotted rgba(0,0,0,0.1);
}

.form-signin-heading {
    text-align:center;
    margin-bottom: 30px;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}
.form-registration {
    max-width: 420px;
    margin: 0 auto;
    background-color: #eee;
}