<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/admin/home.css}"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="shortcut icon" type="image/x-icon" href="img/icoNav.ico" />
		<title>IziFoot</title>
	</head>
	<body>
		<header id="home" class="masthead bodyBackgrounds">
			<div id="homeContainer" class="container d-flex h-100 flex-column">
				<div class="row rowBar">
					<div class="col-md-2 col p-0">
						<div class="well"><a th:href="@{/}">Actuality</a></div>
					</div>
					<div class="col-md-2 col p-0">
						<div class="well">Chosen One</div>
					</div>
					<div class="col-md-2 col p-0">
						<div class="well">Common Interest</div>
					</div>
					<div class="col-md-2 col p-0">
						<div class="well">Sell</div>
					</div>
					<div class="col-md-2 col p-0">
						<div class="well">Buy</div>
					</div>
					<div class="col-md-2 col p-0">
						<div class="well btn-danger">
							<a th:href="@{/logout}">Logout</a>
						</div>
					</div>
				</div>
				<div class="row rowsHome"></div>

			</div>
		</header>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script type="text/javascript" src="js/home.js"></script>
	</body>
</html>