@charset "UTF-8";
/*
 * ==========================================================================
 * = cells
 * ==========================================================================
*/
.well{
	min-height: 15px !important;
	display: inline-block;
	display: flex;
	align-items: center;
}
#newTournament > .title{
	margin: auto 3em auto auto;
}

#currentTournament, #playerStats, #teams{
	text-align: center;
}
.title{
	font-size: 1.6vw !important;
}