<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Spring Security Tutorial</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
			<!-- <img th:src="@{/images/login.jpg}" class="img-responsive center-block" width="300" height="300" alt="Logo"/>--
			<div id="about">
				<p>We can all have something in common</p>
				<p>
					When we find it out, something magic is happening inside ourselves, we meet !
					it can be a point of interest, a passion, a very rare something to trade, sell or buy, or even Love.
				</p>
				<p>
					Every day, we are going in crowded public places, taking the train or the bus and seeing so many faces.
					And IF the person you are crossing now is corresponding exactly to what you are looking for since days, month, years ?!
					And IF the person in front of you is completing you in the way you are not even expecting ?
					Sport, Travel, Love, Food, Interests, Finance everything you can think about.
				</p>
				<p>
					Imagine, for one time you are not deciding to look for a person by her appearance, but by what she is, she likes, she do.
					And you are crossing her in the street, maybe every day in the same bus, same train.
					Would you like to know it ? meet her ?
				</p>
				<p>
					Peanut, is constantly looking around you: matching discreetly and anonymously the informations of the this massive crowd around you.
					MATCH !
					This is the next step, an anonymous and private chat is opening for both of you.
					You can talk, exchange informations but your identity is kept secret until YOU BOTH decide to meet the other person around you.
					It can be now, it can be later. But at least, now ... you know :).
				</p>
			</div>-->
			<form th:action="@{/login}" method="POST" class="form-signin">
				<h3 class="form-signin-heading">Welcome to Peanut</h3>
				<br/>
				<input type="text" id="email" name="email" th:placeholder="Email"
					class="form-control"/> <br/>
				<input type="password" th:placeholder="Password"
					id="password" name="password" class="form-control"/> <br/>

				<div align="center" th:if="${param.error}">
					<p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
				</div>
				<button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit"
						th:text="Login"></button>
			</form>
			<form th:action="@{/registration}" method="get" class="form-registration">
				<button class="btn btn-lg btn-warning btn-block" name="Register" value="Register" th:text="Register" type="Submit"></button>
			</form>
		</div>
	</body>
</html>